@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #111;
  height: 100vh;
}

a,
a:visited {
  color: gray;
}

.comment {
  color: #eee;
  padding: 10px;
}
